VITE_API_BASE=http://127.0.0.1:8000
VITE_ALLOW_OFFLINE_MOCK=false
VITE_ENABLE_RIDE_SIMULATION=false
# Trusted no-money beta: enables BetaTruthNotice, BetaFirstRunAck, calculated-test labels
VITE_BETA_NO_MONEY_TRUTH=false
VITE_MAP_DISPLAY_PROVIDER=carto_voyager
VITE_ROUTING_PROVIDER=osrm_self_hosted
VITE_TRAFFIC_PROVIDER=none
VITE_TRAFFIC_SIGNALS_ENABLED=false
VITE_GOOGLE_MAPS_FALLBACK_ENABLED=false
VITE_ENABLE_ENGINEERING_INTELLIGENCE=0
VITE_MAPBOX_TRAFFIC_ENABLED=false
